.navbarWrapper {
  display: flex;
  width: calc(100% - 20px);
  justify-content: space-around;
  padding: 10px;
  background-color: #131921;
  color: white;
}

.rightBar a {
  padding: 10px;
  color: white;
  text-decoration: none;
}
